@import url('https://fonts.googleapis.com/css?family=Lato|Luckiest+Guy');

html {
    padding: 0;
    margin: 0;
    max-width: 100% !important;
}

body {
    text-align: center;
    
	font-family: 'Lato', sans-serif;
    background-image: url("../images/k20.jpg");
    /* background-color: royalblue; */
    /* The image used */
    
    /* Full height */
    height: auto;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;    
    background-size: auto, auto;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    max-width: 100% !important;
    
}


a {
    color: goldenrod;
}

.navbar {
    line-height: 2;  
    
}

#head1, #head2, #head3, #head4 {
    font-family: 'cursive', 'Luckiest Guy' ;
    color:aquamarine;
}


#compDis{
    color: black;
    text-align: justify;
}

#myName {
    font-family: Arial, Helvetica, sans-serif;
    color: olivedrab;
    
    font-size: 2.5em;
}

.portC{
    background-color: olivedrab;
    color: #D6FFF6;
    opacity: .8;
    font-family: 'Lato', sans-serif;
    border: 1px solid #D6FFF6;
    margin: 5px;
  
}

.linkForm{
    color: #D6FFF6;
    text-emphasis: none;
    padding-left: 15px;
    padding-right: 15px;
  
   
}

#linkForm1{
    background-color: cadetblue;
    font-size:2.0em;
   
}


#linkForm2{
    background-color: #4875B4;
    font-size:2.0em;
    
}

#linkForm3{
    background-color: #3b5998;
    font-size:2.0em;
}

#linkForm4{
    background-color: #1dcaff;
    font-size:2.0em;
}



.col_icon {
    height: 40px;
}



.disHead {
    color: cyan;
    font-size: 1.3em;
}

footer {
    position: relative;
    bottom: -5%;
   
}


.mainBody {
    height: 100%;
    min-height: 1500px; /* real browsers */
}

h2.col {
    padding: 0;
    width: auto;
}

.row {
    
    margin: 0;
    margin-bottom: 1%;
}

@media only screen and (max-width:1500px) {

    .mainBody {
   
        min-height: 400px; /* real browsers */
    }

}


@media only screen and (max-width:1008px) {

    .mainBody {
   
        min-height: 500px; /* real browsers */
    }

}

  @media only screen and (max-width: 1005px) {

    .project_row {
        margin: 15px;
    }

    .about_row {
        margin: 15px;
    }

    .nav_row {
        margin: 15px;
    }

    .row_icons{
        margin: 15px;
    }

    #myName {
        font-size: 1.5em;
}

.navbar {
    line-height: 1.5;
    padding-right: 0;
    padding-left: 0;
}




}

  @media only screen and (max-width: 350px) {

    .mainBody {
   
        min-height: 300px; /* real browsers */
    }

    #portC {
        height: 450px;
    }

    #myName {
        font-size: 1.5em;
    }

    .project_row {
        margin: 10px;
    }

    .about_row {
        margin: 10px;
    }

    .nav_row {
        margin: 10px;
    }
}